<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickgo.platform.dao.DateSourceMapper">
    <sql id="genSchemeColumns">
        a.id AS 'id',
        a.name AS 'name',
        a.userName AS 'userName',
        a.password AS 'password',
        a.flag as 'flag'
    </sql>
  <insert id="insert" parameterType="com.quickgo.platform.model.DateSource">
    INSERT INTO datesource(
         id,
        NAME,
        username,
        password,
        flag
		) VALUES (
        #{id},
        #{name},
        #{userName},
        #{password},
         #{flag}
		)
  </insert>
    <select id="get" resultType="com.quickgo.platform.model.DateSource">
        SELECT
        <include refid="genSchemeColumns"/>
        FROM datesource a
        WHERE a.id = #{id}

    </select>

    <update id="update">
        UPDATE datesource SET
        name = #{name},
        userName = #{userName},
        password = #{password}
        WHERE id = #{id}
    </update>
    <update id="delete">
        UPDATE datesource SET
        flag = #{flag}
        WHERE id = #{id}
    </update>
</mapper>