<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickgo.platform.dao.InterfaceMapper">
 
  <select id="getInterfacesByProjectId" resultType="com.quickgo.platform.model.Interface" parameterType="java.lang.String">
    SELECT * FROM INTERFACE WHERE projectId= #{projectId} ORDER BY createTime ASC
  </select>

<select id="getInterfacesByModuleIds" resultType="com.quickgo.platform.model.Interface" parameterType="java.util.ArrayList">
    SELECT * FROM INTERFACE WHERE  moduleId in
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach>
     ORDER BY createTime ASC
  </select>

  <select id="getInterfacesByIds" resultType="com.quickgo.platform.model.Interface" >
    SELECT * FROM INTERFACE WHERE  id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach>
     ORDER BY createTime ASC
  </select>

<select id="getInterface" resultType="com.quickgo.platform.model.Interface" parameterType="java.lang.String">
    SELECT * FROM INTERFACE WHERE  folderId = #{folderId}
     ORDER BY createTime ASC
  </select>

  <select id="getInterfaces" resultType="com.quickgo.platform.model.Interface" parameterType="java.lang.String">
    SELECT * FROM INTERFACE WHERE  folderId IN ( SELECT id FROM interface_folder t WHERE t.moduleId = #{moduleId})
    ORDER BY createTime ASC
  </select>
  <select id="selectById" resultType="com.quickgo.platform.model.Interface" parameterType="java.lang.String">
    select * from INTERFACE  where id=#{id};
  </select>
  <insert id="insert" parameterType="com.quickgo.platform.model.Interface">
    INSERT INTO INTERFACE(
        id,
        name,
        description,
        folderId,
        url,
        requestMethod,
        contentType,
        requestHeaders,
        requestArgs,
        responseArgs,
        example,
        moduleId,
        projectId,
        lastUpdateTime,
        createTime,
        dataType,
        protocol,
        status,
        putParam,
        inputParam,
        outputParam,
        tableId,
        tableName,
        selectType
		) VALUES (
        #{id},
        #{name},
        #{description},
        #{folderId},
        #{url},
        #{requestMethod},
        #{contentType},
        #{requestHeaders},
        #{requestArgs},
        #{responseArgs},
        #{example},
        #{moduleId},
        #{projectId},
        #{lastUpdateTime},
        #{createTime},
        #{dataType},
        #{protocol},
        #{status},
        #{putParam},
        #{inputParam},
        #{outputParam},
        #{tableId},
        #{tableName},
        #{selectType}
		)
  </insert>

  <delete id="deleteById"  parameterType="java.lang.String">
    DELETE FROM INTERFACE where id = #{id}
  </delete>

<update id="updateById" parameterType="com.quickgo.platform.model.Interface">
    UPDATE INTERFACE
    <set>
        <if test="id!=null">
            id = #{id},
        </if>
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
        <if test="folderId!=null">
            folderId = #{folderId},
        </if>
        <if test="url!=null">
            url = #{url},
        </if>
        <if test="requestMethod!=null">
            requestMethod = #{requestMethod},
        </if>
        <if test="contentType!=null">
            contentType = #{contentType},
        </if>
        <if test="requestHeaders!=null">
            requestHeaders = #{requestHeaders},
        </if>
        <if test="requestArgs!=null">
            requestArgs = #{requestArgs},
        </if>
        <if test="responseArgs!=null">
            responseArgs = #{responseArgs},
        </if>
        <if test="example!=null">
            example = #{example},
        </if>
        <if test="moduleId!=null">
            moduleId = #{moduleId},
        </if>
        <if test="projectId!=null">
            projectId = #{projectId},
        </if>
        <if test="lastUpdateTime!=null">
            lastUpdateTime = #{lastUpdateTime},
        </if>
        <if test="createTime!=null">
            createTime = #{createTime},
        </if>
        <if test="dataType!=null">
            dataType = #{dataType},
        </if>
        <if test="protocol!=null">
            protocol = #{protocol},
        </if>
        <if test="status!=null">
            status = #{status},
        </if>
        <if test="inputParam!=null">
            inputParam = #{inputParam},
        </if>
        <if test="putParam!=null">
            putParam = #{putParam},
        </if>
        <if test="outputParam!=null">
            outputParam = #{outputParam},
        </if>
        <if test="tableId!=null">
            tableId = #{tableId},
        </if>
        <if test="tableName!=null">
            tableName = #{tableName},
        </if>
        <if test="selectType!=null">
            selectType = #{selectType}
        </if>

    </set>
    WHERE id = #{id}
</update>
</mapper>