<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quickgo.platform.dao.ProjectUserMapper">

    <select id="checkProjectUser" resultType="int" parameterType="java.util.Map">
    SELECT COUNT(id) FROM  PROJECT_USER  WHERE userId=#{userId} AND projectId=#{projectId} AND editable='YES'
  </select>

    <select id="getProjectEditAble" resultType="java.lang.String" parameterType="java.util.Map">
    SELECT editable FROM PROJECT_USER WHERE projectId=#{projectId} AND userId=#{userId} LIMIT 1
  </select>

    <select id="getUsersByProjectId" resultType="com.quickgo.platform.model.User" parameterType="java.lang.String">
     SELECT u.id,u.nickname,u.avatar,u.email,pu.editable
     FROM USER u
     LEFT JOIN project_user pu ON pu.userId=u.id
     WHERE pu.projectId=#{projectId}
  </select>

    <select id="selectById" resultType="com.quickgo.platform.model.ProjectUser" parameterType="java.lang.String">
    select * from PROJECT_USER  where id=#{id};
  </select>

  <insert id="insert" parameterType="com.quickgo.platform.model.ProjectUser">
    INSERT INTO PROJECT_USER(
        id,
        projectId,
        userId,
        createTime,
        status,
        editable,
        commonlyUsed
		) VALUES (
        #{id},
        #{projectId},
        #{userId},
        #{createTime},
        #{status},
        #{editable},
        #{commonlyUsed}
		)
  </insert>

  <delete id="deleteById" parameterType="java.lang.String">
    DELETE from PROJECT_USER where id = #{id}
  </delete>

  <delete id="deleteProjectUser" parameterType="java.util.Map">
    DELETE FROM PROJECT_USER  where projectId=#{projectId} and userId=#{userId}
  </delete>

    <update id="updateById" parameterType="com.quickgo.platform.model.ProjectUser">
        UPDATE PROJECT_USER
        <set>
            <if test="id!=null">
                id = #{id},
            </if>
            <if test="projectId!=null">
                projectId = #{projectId},
            </if>
            <if test="userId!=null">
                userId = #{userId},
            </if>
            <if test="createtime!=null">
                createtime = #{createtime},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="editable!=null">
                editable = #{editable},
            </if>
            <if test="commonlyUsed!=null">
                commonlyUsed = #{commonlyUsed}
            </if>

        </set>
        WHERE id = #{id}
    </update>

    <update id="updateProjectUserEditable" parameterType="java.util.Map">
      UPDATE PROJECT_USER SET editable=#{editable} WHERE projectId = #{projectId} AND userId = #{userId}
    </update>

    <update id="updateCommonlyUsedProject" parameterType="java.util.Map">
      UPDATE PROJECT_USER SET commonlyUsed=#{commonlyUsed} WHERE projectId = #{projectId} AND userId = #{userId}
    </update>
</mapper>