<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qitoon.framework.dao.UserMapper">
 
  <select id="findUserInfo" resultType="com.qitoon.framework.model.User">
    select * from user;
  </select>
 
</mapper>